.dd-news {
    position: relative;
    right: 150px;
}

.dd-news-search {
    position: relative;
    right: 50px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 100px;
    color: #307430;
}

.fas.fa-search {
}

.row-article {
    margin-bottom: 50px;
}

.has-search input {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #929292;
}

.has-search .form-control-feedback {
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #307430;
}

.filter-title-1 {
    position: relative;
    left: 620px;
}

.filter-title-2 {
    position: relative;
    left: 450px;
}

.filter-title-3 {
    position: relative;
    left: 275px;
}

/* option.filter-1-title {
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 120%;
align-items: center;
letter-spacing: 0.05em;

color: #307430;
} */

option {
    color: #307430;
}

.latest-news.card.card-widget.widget-user {
    background: #ffffff;
    /* stroke dl */
    box-sizing: border-box;

    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    position: relative;
    margin-bottom: 20px;
}

.latest-news-body a.latest-news-body {
    align-items: center;
    position: relative;
    left: 600px;
}

.latest-news.card-header h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    color: #307430;
}

.latest-news.card-header h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #307430;
}

.latest-news.card-header p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;

    color: #307430;
}

.latest-news.card-header a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #307430;
}

.card.card-widget.widget-user {
    background: #ffffff;
    /* stroke dl */

    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 10px;

    position: relative;
    transition: all 0.5s ease-in;
}

.news-banner-body.widget-user-header {
    height: 162px;
}

.news.widget-user-header {
    display: block;
    width: 100%;
    height: auto;
}

.card.card-widget.widget-user:hover .card__overlay {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.card__overlay > .latest-news-overlay.card-header h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    color: #ffffff;
}

.card__overlay > .latest-news-overlay.card-header h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #ffffff;
}

.card__overlay > .latest-news-overlay.card-header p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;

    color: #ffffff;
}

.card__overlay > .latest-news-overlay.card-header a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #ffffff;
}

.overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-title-article {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    height: 50px;

    background-color: #ffffff;
    color: #307430;
    border: 1px solid #307430;
    border-radius: 100px;
}

@media screen and (max-width: 1300px) {
    .filter-title-1 {
        position: relative;
        left: 590px;
        margin-bottom: 20px;
    }

    .filter-title-2 {
        position: relative;
        left: 435px;
        margin-bottom: 20px;
    }

    .filter-title-3 {
        position: relative;
        left: 275px;
    }
}

.news-filter .form {
    margin-bottom: 30px;
}

@media screen and (max-width: 1160px) {
    .filter-title-1 {
        position: relative;
        left: 560px;
        margin-bottom: 20px;
    }

    .filter-title-2 {
        position: relative;
        left: 415px;
        margin-bottom: 20px;
    }

    .filter-title-3 {
        position: relative;
        left: 275px;
    }
}

@media screen and (max-width: 1040px) {
    .filter-title-1 {
        position: relative;
        left: 475px;
        margin-bottom: 20px;
    }

    .filter-title-2 {
        position: relative;
        left: 350px;
        margin-bottom: 20px;
    }

    .filter-title-3 {
        position: relative;
        left: 225px;
    }
}

@media screen and (max-width: 992px) {
    .dd-news {
        position: relative;
        right: 0px;
    }

    .dd-news-search {
        position: relative;
        right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .filter-title-1 {
        position: relative;
        left: 10px;
        margin-bottom: 20px;
    }

    .filter-title-2 {
        position: relative;
        left: 10px;
        margin-bottom: 20px;
    }

    .filter-title-3 {
        position: relative;
        left: 10px;
    }

    .row-article {
    }
}

@media screen and (max-width: 420px) {
    .dd-news {
        position: relative;
        right: 0px;
    }

    .dd-news-search {
        position: relative;
        right: 00px;
    }

    .filter-title-1 {
        position: relative;
        left: 0px;
        margin-bottom: 20px;
    }

    .filter-title-2 {
        position: relative;
        left: 0px;
        margin-bottom: 20px;
    }

    .filter-title-3 {
        position: relative;
        left: 0px;
    }

    .latest-news.card.card-widget.widget-user {
        margin-bottom: 20px;
    }
}

/***********************************************************************/

.u-section-1 .u-sheet-1 {
    min-height: 235px;
}

.u-section-1 .u-text-1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 787px 0 50px;
}

.u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 30px 775px 0 50px;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    margin: 115px 362px 0 auto;
    padding: 10px 60px 11px;
}

.u-section-1 .u-icon-1 {
    margin-left: 50px;
    width: 1px;
    height: 1px;
    font-size: 1.25rem;
}

.u-section-1 .u-btn-2 {
    border-style: solid;
    font-size: 1.125rem;
    background-image: none;
    font-weight: 700;
    font-style: italic;
    margin: -60px 62px 0 auto;
    padding: 13px 24px 13px 23px;
}

.u-section-1 .u-icon-2 {
    width: 1px;
    height: 1px;
    margin-right: 50px;
}

.u-section-1 .u-btn-3 {
    border-style: solid;
    font-size: 1.25rem;
    background-image: none;
    font-weight: 700;
    margin: -60px auto 0 503px;
    padding: 10px 43px 11px 42px;
}

.u-section-1 .u-icon-3 {
    margin-left: 50px;
    width: 1px;
    height: 1px;
}

.u-section-1 .u-list-1 {
    width: 1339px;
    margin: 50px auto 60px;
}

.u-section-1 .u-repeater-1 {
    min-height: 1682px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(
            33.3333% - 6.66667px
        );
    grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
    padding: 10px;
}

.u-section-1 .u-shape-1 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-1 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-6 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-2 {
    padding: 10px;
}

.u-section-1 .u-shape-2 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-2 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-8 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-10 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-3 {
    padding: 10px;
}

.u-section-1 .u-shape-3 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-3 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-12 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-13 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-14 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-4 {
    padding: 10px;
}

.u-section-1 .u-shape-4 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-4 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-15 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-16 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-17 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-18 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-5 {
    padding: 10px;
}

.u-section-1 .u-shape-5 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-5 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-19 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-20 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-21 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-22 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-6 {
    padding: 10px;
}

.u-section-1 .u-shape-6 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-6 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-23 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-24 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-25 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-26 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-7 {
    padding: 10px;
}

.u-section-1 .u-shape-7 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-7 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-27 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-28 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-29 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-30 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-8 {
    padding: 10px;
}

.u-section-1 .u-shape-8 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-8 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-31 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-32 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-33 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-34 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-container-layout-9 {
    padding: 10px;
}

.u-section-1 .u-shape-9 {
    height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-image-9 {
    height: auto;
    margin-top: -534px;
    margin-bottom: 0;
}

.u-section-1 .u-text-35 {
    font-size: 0.875rem;
    margin: 10px auto 0 16px;
}

.u-section-1 .u-text-36 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 6px 29px 0 16px;
}

.u-section-1 .u-text-37 {
    font-size: 0.875rem;
    margin: 6px 29px 0 18px;
}

.u-section-1 .u-text-38 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 10px auto 0 16px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 344px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 337px;
        margin-left: 0;
    }

    .u-section-1 .u-text-2 {
        margin-right: 325px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 50px;
        margin-right: 255px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .u-section-1 .u-btn-2 {
        margin-right: 0;
        padding-right: 25px;
    }

    .u-section-1 .u-icon-2 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-3 {
        margin-left: 205px;
        padding-right: 18px;
        padding-left: 17px;
    }

    .u-section-1 .u-list-1 {
        margin-bottom: 40px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 1385px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-1 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-1 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-4 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-5 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-2 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-2 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-8 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-9 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-3 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-3 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-11 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-12 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-13 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-4 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-4 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-15 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-16 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-17 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-5 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-5 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-19 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-20 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-21 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-6 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-6 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-23 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-24 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-25 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-7 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-7 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-7 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-27 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-28 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-29 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-8 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-8 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-8 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-31 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-32 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-33 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-9 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-shape-9 {
        height: 445px;
        margin-top: 10px;
    }

    .u-section-1 .u-image-9 {
        height: 187px;
        margin-top: -445px;
    }

    .u-section-1 .u-text-35 {
        width: auto;
        margin-left: 14px;
    }

    .u-section-1 .u-text-36 {
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-text-37 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 346px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 117px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 105px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-1 .u-btn-2 {
        margin-right: auto;
        margin-left: 495px;
        padding-right: 19px;
        padding-left: 18px;
    }

    .u-section-1 .u-icon-2 {
        margin-right: 10px;
    }

    .u-section-1 .u-btn-3 {
        margin-left: auto;
    }

    .u-section-1 .u-list-1 {
        margin-bottom: 30px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        min-height: 2483px;
    }

    .u-section-1 .u-shape-1 {
        height: 475px;
    }

    .u-section-1 .u-image-1 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-2 {
        height: 475px;
    }

    .u-section-1 .u-image-2 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-9 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-3 {
        height: 475px;
    }

    .u-section-1 .u-image-3 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-13 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-4 {
        height: 475px;
    }

    .u-section-1 .u-image-4 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-17 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-5 {
        height: 475px;
    }

    .u-section-1 .u-image-5 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-21 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-6 {
        height: 475px;
    }

    .u-section-1 .u-image-6 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-25 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-7 {
        height: 475px;
    }

    .u-section-1 .u-image-7 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-29 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-8 {
        height: 475px;
    }

    .u-section-1 .u-image-8 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-33 {
        margin-left: 14px;
        margin-right: 14px;
    }

    .u-section-1 .u-shape-9 {
        height: 475px;
    }

    .u-section-1 .u-image-9 {
        height: auto;
        margin-top: -475px;
    }

    .u-section-1 .u-text-37 {
        margin-left: 14px;
        margin-right: 14px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 246px;
    }

    .u-section-1 .u-btn-1 {
        margin-left: auto;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 542px;
    }

    .u-section-1 .u-btn-3 {
        margin-left: 0;
    }

    .u-section-1 .u-list-1 {
        margin-bottom: 60px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-1 {
        height: NaNpx;
    }

    .u-section-1 .u-image-2 {
        height: NaNpx;
    }

    .u-section-1 .u-image-3 {
        height: NaNpx;
    }

    .u-section-1 .u-image-4 {
        height: NaNpx;
    }

    .u-section-1 .u-image-5 {
        height: NaNpx;
    }

    .u-section-1 .u-image-6 {
        height: NaNpx;
    }

    .u-section-1 .u-image-7 {
        height: NaNpx;
    }

    .u-section-1 .u-image-8 {
        height: NaNpx;
    }

    .u-section-1 .u-image-9 {
        height: NaNpx;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 155px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 25px;
        margin-right: 38px;
        font-size: 1.5rem;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.125rem;
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 111px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 111px;
        padding-left: 110px;
    }

    .u-section-1 .u-btn-2 {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 95px;
        padding-left: 93px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: -210px;
        margin-right: 0;
        padding-right: 93px;
        padding-left: 92px;
    }

    .u-section-1 .u-list-1 {
        margin-top: 165px;
        margin-bottom: 26px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-repeater-1 {
        grid-gap: 20px 20px;
        grid-template-columns: 100%;
        min-height: 3877px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-1 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-1 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-3 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-4 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-5 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-6 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-2 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-2 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-7 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-8 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-9 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-10 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-3 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-3 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-11 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-12 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-13 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-14 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-4 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-4 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-15 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-16 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-17 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-18 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-5 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-5 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-19 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-20 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-21 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-22 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-6 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-6 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-23 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-24 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-25 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-26 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-7 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-7 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-7 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-27 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-28 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-29 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-30 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-8 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-8 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-8 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-31 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-32 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-33 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-34 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-container-layout-9 {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-shape-9 {
        height: 411px;
        margin-top: 1px;
    }

    .u-section-1 .u-image-9 {
        margin-top: -411px;
    }

    .u-section-1 .u-text-35 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-36 {
        font-size: 0.75rem;
        margin-top: 4px;
        margin-right: 34px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-37 {
        font-size: 0.625rem;
        margin-top: 9px;
        margin-right: 8px;
        margin-left: 15px;
    }

    .u-section-1 .u-text-38 {
        font-size: 0.75rem;
        width: auto;
        margin-top: 9px;
        margin-left: 15px;
    }

    .news-filter .form {
        margin-bottom: 75px;
    }
}
